.contact {
  margin-top: 115px;
  margin-bottom: 80px;
  text-align: center;
  padding: 0 10px;
}

@media (min-width: 768px) {
  .contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 96px;
    padding: 0;

    &__title {
      width: 50%;
      text-align: left;
    }

    &__line {
      width: 15%;
      border: 1px solid var(--grayishDarkBlue);
      opacity: 0.15;
    }
  }
}

@media (min-width: 992px) {
  .contact {
    &__title {
      width: 40%;
      text-align: left;
    }

    &__line {
      width: 40%;
      border: 1px solid var(--grayishDarkBlue);
      opacity: 0.15;
    }
  }
}
