.info {
  margin-bottom: 32px;
  padding-bottom: 32px;
  border-top: 1px solid rgba($color: #000000, $alpha: 0.2);
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);

  &__social {
    display: inline-block;

    &:first-child {
      margin-right: 10px;
    }
  }
}

@media (min-width: 992px) {
  .info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 94px;

    &__divider {
      width: 50%;
      display: flex;
      flex-direction: column;
    }
  }
}
