.hero {
  &__title {
    margin: 0;
    margin-top: 24px;
    margin-bottom: 32px;
  }

  & img {
    display: block;
    width: 100%;
  }

  &__btn {
    position: relative;
    left: 48px;
    display: inline-block;
    width: 152px;
    height: 48px;
    padding: 0;
    border: none;
    background-color: #203a4c;
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;

    &::before {
      content: '';
      position: absolute;
      left: -48px;
      top: 0;
      display: inline-block;
      height: 48px;
      width: 48px;
      background: #000 url('../../../assets/icons/down-arrows.svg') no-repeat;
      background-position: center;
    }
  }
}

.about {
  &__img {
    margin-top: 80px;
    margin-bottom: 30px;
    width: 100%;
  }

  &__content {
    padding-bottom: 51px;
    border-top: 1px solid rgba($color: #000000, $alpha: 0.2);
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
  }

  &__text {
    margin-bottom: 24px;
  }
}

@media (min-width: 768px) {
  .hero {
    position: relative;

    &__title {
      box-sizing: border-box;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 514px;
      height: 278px;
      background-color: #fafafa;
      margin: 0;
      padding-top: 56px;
      padding-right: 56px;
    }

    &__btn {
      position: absolute;
      bottom: 0;
      left: 48px;
    }
  }

  .about {
    display: flex;
    justify-content: space-between;
    margin-top: 96px;

    &__img {
      display: block;
      width: 40%;
      margin: 0;
    }

    &__content {
      width: 50%;
    }
  }
}

@media (min-width: 992px) {
  .hero {
    max-height: 600px;

    & img {
      max-height: 600px;
    }

    &__title {
      width: 445px;
      height: 357px;
    }
  }

  .about {
    max-width: 1015px;

    &__img {
      width: 50%;
    }

    &__content {
      width: 40%;
    }
  }
}
