// Fonts
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&family=Public+Sans&display=swap');

// Colors
:root {
  --slightlyDesaturatedCyan: #5fb4a2;
  --darkBlue: #203a4c;
  --grayishDarkBlue: #33323d;
  --bgColor: #fafafa;
  --lightGray: #eaeaeb;
  --red: #f43030;
  --headingsFont: 'Ibarra Real Nova', serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--grayishDarkBlue);
  font-family: 'Public Sans', sans-serif;
  font-size: 16px;
  line-height: 30px;
}

h1,
h2,
h3 {
  color: var(--grayishDarkBlue);
}

h1 {
  font-family: var(--headingsFont);
  font-weight: bold;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.45px;
}

h2 {
  font-family: var(--headingsFont);
  font-weight: bold;
  font-style: normal;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.36px;
}

h3 {
  font-family: var(--headingsFont);
  font-weight: normal;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -0.29px;
}

.btn {
  display: inline-block;
  padding: 17px 36px;
  border: 1px solid var(--grayishDarkBlue);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--grayishDarkBlue);
}
